@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}

html {
	background-color: #101820;
}

body {
	margin: auto;
	max-width: 48rem;
	line-height: 1.00;
	text-align: center;
	background-color: #1C2936;
	padding: 1em;
}
